..gitignore.swp
bash/sleepScript/
webStuff/forBeginners/ch3/rose.png
adventOfCode/2022/day1/input.txt
arduino/sketchbook/charlee'sBday/
arduino/sketchbook/CwithArduino/
arduino/sketchbook/Scroll/
arduino/sketchbook/happy_birthday_song/
arduino/sketchbook/mojo_loader/
arduino/sketchbook/project2_LEDs/
arduino/sketchbook/project3_Temp/
arduino/sketchbook/project4_RBG/
arduino/sketchbook/project5_1stServo/
arduino/sketchbook/project6_lightTheremin/
c_c++/midi/
gnuRadio/
kotlin/
octave/hackAudio/
python/appleScripts/
python/bit2Int/
python/blScraper/
python/selfTaught/ch18/venv/
python/selfTaught/ch20/scraper/*
python/browserAutomation/selenium_env
python/browserAutomation/driver/
python/browserAutomation/core/
python/learning/nand2Tetris/
python/learning/simpBot/
python/pyTest/elegantAutomation/venv/
__pycache__/
myVenv/
python/oldPlantTracker/
python/resistorCalc/
python/temp/
python/venv/
python/wcoStreamDriver/
rust/fastSafeSystemsDev/ch1/hello/target/
.vscode/
ti-basic/
vivado/
work/
webStuff/html/
webStuff/nodejs/
