#clicker{
    border: 1px solid black;
    display: inline-block;
    background-color: green;
    color: white;
}
.red{
    background-color: red;
    color: white;
    text-decoration: line-through;
}